APP_SERVER={{ ansible_default_ipv4.address }}
APP_PORT={{ env_port }}
CONSUL_HOST={{ consul_host }}
CONSUL_PORT={{ consul_port }}
UFOS_LOGIN={{ ufos_login }}
UFOS_PASSWORD={{ ufos_password }}
REG_UFOS={{ ufos_reg }}
ASSIGN_UFOS={{ ufos_assign }}
NSI_UFOS={{ ufos_nsi }}
KAFKA_SERVER={{ kafka_server }}:{{ kafka_port }}
GREENPLUM_URL=jdbc:postgresql://{{ psql_name_2 }}:{{ psql_port }}/{{ psql_db_name_2 }}
GREENPLUM_USERNAME={{ psql_db_user_2 }}
GREENPLUM_PASSWORD={{ psql_db_pass_2 }}
POSTGRES_URL=jdbc:postgresql://{{ psql_name }}:{{ psql_port}}/{{ psql_db_name }}
POSTGRES_USERNAME= {{ psql_db_user }}
POSTGRES_PASSWORD= {{ psql_db_pass }}
