DB_UFOS_HOST_PROP={{ db_ufos_host_prop }}
DB_UFOS_USER={{ db_login }}
DB_UFOS_PASS={{ db_password }}
KAFKA_SERVER={{ kafka_server }}:{{ kafka_port }}
KAFKA_TOPIC={{ kafka_topic }}
JAVA_HOME={{ java8_inst_dir }}
WAR_DEPLOY=/usr/share/jetty/webapps
SUFD_HOME=/usr/share/jetty
GC_SETTINGS=-Xmx{{ XMX }} -Xms4096m -XX:MaxPermSize=256m -XX:+UseParallelGC -XX:+UseParallelOldGC -XX:+AggressiveOpts -XX:+DisableExplicitGC -XX:+UseAdaptiveSizePolicy {{ JAVA_ARGS }}