SPRING_DATASOURCE_URL=jdbc:postgresql://{{ psql_name }}:5432/{{ psql_db_name }}
SPRING_DATASOURCE_USERNAME={{ psql_db_user }}
SPRING_DATASOURCE_PASSWORD={{ psql_db_pass }}
APP_SERVER={{ ansible_default_ipv4.address }}
APP_PORT={{ env_port }}
CONSUL_HOST={{ consul_host }}
CONSUL_PORT={{ consul_port }}
UFOS_LOGIN={{ ufos_login }}
UFOS_PASSWORD={{ ufos_password }}
REG_UFOS={{ ufos_reg }}
ASSIGN_UFOS={{ ufos_assign }}
NSI_UFOS={{ ufos_nsi }}
KAFKA_SERVER={{ kafka_server }}:{{ kafka_port }}