НСИ,http://puv-{{ var_env }}-int-nsi-app.otr.ru:,18081/services/rest-api/auth/authorization,18000
Назначение,http://puv-{{ var_env }}-int-assign-app-01.otr.ru:,18081/services/rest-api/auth/authorization,18000
Регистрация,http://puv-{{ var_env }}-int-reg-app-01.otr.ru:,18081/services/rest-api/auth/authorization,18000