version: '2'
services:

  # Queue - Zookeeper - KV storage for Kafka
  zookeeper:
    image: "registry-dpr-gitlab.otr.ru:5005/puv/puv-docker-images:apache-zookeeper-3.6.2"
    restart: always
    hostname: zk_kafka
    container_name: zk_kafka
    ports:
      - 2182:2181
      - 8088:8080
    environment:
      ZOO_MY_ID: 1
    volumes:
      - ./zkdata:/data
      - ./zkdatalog:/datalog
    dns_search:
      - otr.ru
      - pds.otr.ru
    dns:
      - 172.31.2.113
      - 172.31.4.4
      - 172.31.198.254
    networks:
      dpr-kafka-net:
        ipv4_address: 10.20.30.2
    restart: unless-stopped

  # Kafka - stream processing engine
  kafka:
    image: "registry-dpr-gitlab.otr.ru:5005/puv/puv-docker-images:apache-kafka-2.7"
    restart: always
    container_name: kafka
    hostname: {{ kafka_hostname }}
    depends_on:
      - zookeeper
    ports:
      - 9092:9092
      - 29092:29092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_BROKER_RACK: rack-a
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_ZOOKEEPER_CONNECT: zk_kafka:2181
      KAFKA_ADVERTISED_HOST_NAME: {{ kafka_hostname }}
      KAFKA_LISTENERS: LISTENER_INT://{{ kafka_hostname }}:29092,LISTENER_EXT://{{ kafka_hostname }}:9092
      KAFKA_ADVERTISED_LISTENERS: LISTENER_INT://{{ kafka_hostname }}:29092,LISTENER_EXT://{{ kafka_hostname }}:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: LISTENER_INT:PLAINTEXT,LISTENER_EXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: LISTENER_INT
      KAFKA_HEAP_OPTS: "-Xmx4196m -Xms4196m"
      KAFKA_NUM_PARTITIONS: 1
      KAFKA_MESSAGE_MAX_BYTES: 134217728
    volumes:
      - ./kafdata:/var/lib/kafka
    dns:
      - 172.31.2.113
      - 172.31.4.4
      - 172.31.198.254
    dns_search:
      - otr.ru
      - pds.otr.ru
    networks:
      dpr-kafka-net:
        ipv4_address: 10.20.30.3
    restart: unless-stopped

  kafdrop:
    image: "registry-dpr-gitlab.otr.ru:5005/puv/puv-docker-images:kafdrop-3.27"
    restart: always
    container_name: kafkadrop
    hostname: kafkadrop
    ports:
      - "9090:9000"
    environment:
      KAFKA_BROKERCONNECT: "{{ kafka_hostname }}:9092"
      JVM_OPTS: "-Xms1024M -Xmx1024M -Xss180K -XX:-TieredCompilation -XX:+UseStringDeduplication -noverify"
    depends_on:
      - kafka
    dns_search:
      - otr.ru
    dns:
      - 172.31.2.113
      - 172.31.4.4
      - 172.31.198.254
    networks:
      dpr-kafka-net:
        ipv4_address: 10.20.30.4
    restart: unless-stopped

volumes:
  zkdata:
  zkdatalog:
  kafdata:

networks:
    dpr-kafka-net:
       driver: bridge
       driver_opts:
          com.docker.network.enable_ipv6: "false"
       ipam:
          driver: default
          config:
            - subnet: 10.20.30.0/24
              gateway: 10.20.30.1
