Фронт,http://puv-{{ var_env }}-int-elk-01.otr.ru:,18080,18000
Конструктор,http://puv-{{ var_env }}-int-constructor.otr.ru:,18080/actuator/health,18000
Выплаты,http://puv-{{ var_env }}-int-payment-app-01.otr.ru:,18080/actuator/health,18000
НСИ,http://puv-{{ var_env }}-int-nsi-app.otr.ru:,18080/actuator/health,18000
Назначение,http://puv-{{ var_env }}-int-assign-app-01.otr.ru:,18080/actuator/health,18000
Регистрация,http://puv-{{ var_env }}-int-reg-app-01.otr.ru:,18080/actuator/health,18000
ФИАС,http://puv-{{ var_env }}-int-fias-app.otr.ru:,8080/actuator/health,18000
ЕЛД,http://puv-{{ var_env }}-eld-app.otr.ru:,8080/actuator/health,18000
ЕЛД ФИН,http://puv-{{ var_env }}-eld-app.otr.ru:,9080/actuator/health,18000