[Unit]
Description={{ artifacts_name }}

[Service]
EnvironmentFile=/etc/systemd/system/{{ artifacts_name }}.env
WorkingDirectory={{ app_dir }}
ExecStart={{ java11_inst_dir }}/bin/java -jar {{ app_dir }}/{{ artifacts_name }}.jar
User=root
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target